pandas
scipy
timeout_decorator==0.5.0
rdkit==2023.9.5
matplotlib
fpdf==1.7.2
xlrd==2.0.1
pdfrw==0.4
xlsxwriter==3.1.9
molvs==0.1.1
numpy
addict
ipywidgets
notebook
plyfile
pyyaml
scikit-learn
tqdm
widgetsnbextension
git+https://github.com/czodrowskilab/VSFlow
git+https://github.com/ersilia-os/smiles-to-3d
